*{
	box-sizing: border-box;
}

body  {
background-image: url("photos/fond.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
}


h1{
	font-size: 50px;
	margin: 2%;
	font-size:40px;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif 
}	  	  

section{
	display: block;
	margin: 2%;
	overflow:hidden;
	text-align:center;
}		  

section #sweat article{
	display: block;
	margin: 2%;
	padding: 1%;
	overflow: hidden;
	text-align:center;
}

section #question article{
	display: block;
	margin: 2%;
	padding: 1%;
	overflow: hidden;
	text-align:center;
}
		  
section article{
	display: block;
	margin: 2%;
	padding: 1%;
	overflow: hidden;
}

section aside{

	display:block;
	margin: 2%;
	text-align: left;
	overflow: hidden;

}
	
table {
border-collapse : collapse ;
text-align:center;
}

table{
	width: 80%;
	word-wrap: break-word;
	word-break: break-all;
	
}

table th{
	text-transform: uppercase;
}

table tr{
	text-align: center;
	margin: 3%;
}

th,td {
 border : 1px solid black;
 text-align : center;
 }
th{
	background-color : #008B8B;}

tr:nth-child(odd){ background-color: #E0FFFF;}
tr:nth-child(even){ background-color:#F5F5F5;}

img{
	border-radius: 4px;
}
iframe{
	display: block;
	margin: auto;
	margin-top: 2%;
	overflow: hidden;
}

.embedresize {
    margin: auto;
}

.embedresize div {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

 .embedresize iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button {
        background-color:#183e49;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
	  
.button3 {border-radius: 4px;}

footer{
	margin: 2%;
	clear: both;
	overflow: hidden;
}